body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 50px;
    background-color: #333;
    color: #fff;
}

section {
    padding: 20px;
    margin: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: none;
}

article {
    margin-bottom: 20px;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
